.title {
  font-size: 200%;
  font-weight: 300;
}

.movieImageCover {
  max-width: 250px;
  border-radius: 12px;
  border-radius: 12px;
}

.movieInfoFlexContainer {
  display: flex;
  padding-top: 20px;
}

.infoContainer {
  padding-left: 30px;
}

.description {
  font-weight: 200;
  font-size: 90%;
  line-height: 1.5;
  max-width: 800px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff28;
  border-top: 1px solid #ffffff28;
}

.genreTags {
  display: flex;
  padding-bottom: 15px;
}

.genreTag {
  margin-right: 10px;
  font-size: 60%;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #ffffff28;
  padding: 5px 10px;
  border-radius: 10px;
}

.ratingDate {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.date,
.certificate,
.ratingTitle,
.ratingMarker,
.runTime {
  margin-right: 15px;
  font-size: 70%;
  opacity: 0.8;
}

.ratingMarker {
  display: flex;
  align-items: center;
}

.ratingTitle {
  display: flex;
  align-items: center;
}

.smallTitle {
  font-size: 90%;
  padding: 15px 0px;
  font-weight: 500;
  border-bottom: 1px solid #ffffff28;
}

.name {
  margin-left: 20px;
  text-transform: Capitalize;
  font-weight: 200;
}

.watchBtnsContainer {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  font-size: 90%;
}

.watchBtn {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 80%;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.3s all;
  border: 1px solid var(--red);
  color: var(--red);
  background: #00000028;
}

.watchBtn:hover {
  background: var(--red);
  color: #fff;
}


.watchTitle {
  font-weight: 500;
  margin-right: 15px;
}

.dot {
  position: relative;
  top: 3px;
}

.container {
  background-position: center;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
  padding-top: 50px;
}

.contentContainer {
  max-width: 1400px;
  margin: auto;
}
