/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper {
  padding: 30px;
  padding-bottom: 75px;
  padding-top: 50px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.imgContainer {
  min-width: 250px;
  max-width: 250px;
  height: 375px;
  border-radius: 12px;
  background: var(--dark-background);
  position: relative;
  overflow: hidden;
}

.imgContainer::after,
.title::after,
.genre::after,
.info::after,
.description::after,
.director::after,
.starring::after,
.name::after,
.waysToWatch::after,
.wayToWatch::after,
.mobileTitle::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(40%, rgba(255, 255, 255, 0.01)),
    color-stop(60%, rgba(255, 255, 255, 0.03)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.01) 40%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.01) 40%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
}

.title,
.mobileTitle {
  width: 400px;
  background: var(--dark-background);
  height: 34px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.mobileTitle {
  display: none;
}

.infoContainer {
  width: 100%;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.smallFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.info,
.genre {
  height: 15px;
  width: 50px;
  background: var(--dark-background);
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.genre {
  height: 25px;
  width: 70px;
  margin-right: 10px;
  border-radius: 5px;
}

.description {
  height: 120px;
  width: 100%;
  max-width: 600px;
  background: var(--dark-background);
  border-radius: 12px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.director {
  height: 30px;
  width: 300px;
  background: var(--dark-background);
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.starringContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.starring {
  height: 30px;
  width: 120px;
  margin-right: 15px;
  background: var(--dark-background);
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.name {
  height: 30px;
  width: 80px;
  margin-right: 15px;
  background: var(--dark-background);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.waysToWatchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.waysToWatch {
  height: 30px;
  width: 120px;
  background: var(--dark-background);
  border-radius: 5px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
}

.wayToWatch {
  width: 300px;
  height: 30px;
  background: var(--dark-background);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    padding: 15px;
    padding-bottom: 50px;
  }
  .title {
    display: none;
  }
  .imgContainer {
    min-width: 200px;
    max-width: 200px;
    height: 300px;
  }
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .infoContainer {
    margin-left: 0px;
    margin-top: 15px;
  }
  .mobileTitle {
    display: block;
    width: 70%;
    max-width: 300px;
    margin-bottom: 15px;
  }
  .description {
    height: 80px;
    max-width: 500px;
  }
}
