.container {
  padding: 30px;
}

.movieContainer {
  border-radius: 12px;
  max-width: 200px;
  overflow: hidden;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  cursor: pointer;
  margin: 40px 0px;
  position: relative;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  transform: scale(1.05);
  transition: 0.3s all;
  width: 200px;
  min-height: 300px;
  max-height: 300px;
  opacity: 0.8;
}

.image:hover {
  opacity: 1;
  transform: scale(1);
}

.link {
  color: #fff;
  font-weight: 200;
  text-align: center;
  font-size: 80%;
  text-decoration: none;
}

/* QUERIES */

@media only screen and (max-width: 500px) {
  .container {
    padding: 15px;
  }
  .movieContainer {
    min-height: 150px;
    max-height: 150px;
    max-width: 100px;
    min-width: 100px;
    border-radius: 6px;
    margin: 15px;
  }
  .image {
    height: 100%;
    min-height: 150px;
    max-height: 150px;
    max-width: 100px;
    min-width: 100px;
    opacity: 1;
    transform: scale(1.03);
  }

  .image:hover {
    transform: scale(1.03);
    opacity: 1;
  }
}
