/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper {
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 50px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.title {
  font-size: 150%;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
}

.title::before {
  margin-right: 5px;
  height: 35px;
  width: 4px;
  border-radius: 10px;
  content: "";
  display: block;
  background: var(--red);
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videoTrailer {
  height: 400px;
  width: 100%;
  max-width: 800px;
  background: var(--dark-background);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infoContainer {
  margin-left: 20px;
}

.infoTitle {
  height: 30px;
  width: 300px;
  background: var(--dark-background);
  border-radius: 6px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.officialTrailer {
  height: 25px;
  width: 150px;
  background: var(--dark-background);
  border-radius: 6px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

.description {
  height: 200px;
  width: 300px;
  background: var(--dark-background);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.infoTitle::after,
.officialTrailer::after,
.description::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(40%, rgba(255, 255, 255, 0.05)),
    color-stop(60%, rgba(255, 255, 255, 0.08)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.05) 40%,
    rgba(255, 255, 255, 0.08) 60%,
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.05) 40%,
    rgba(255, 255, 255, 0.08) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 1400px) {
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .infoContainer {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .videoTrailer {
    height: 325px;
  }
  .infoContainer {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .title {
    font-size: 120%;
    font-weight: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .title::before {
    margin-right: 5px;
    height: 28px;
    width: 4px;
    border-radius: 10px;
    content: "";
    display: block;
    background: var(--red);
  }
  .videoTrailer {
    height: 200px;
  }
}
