.container {
  /* background: linear-gradient(to right, #d31027af, #ea384daf); */
  background: #000;
  padding: 12px 30px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.title {
  font-weight: 500;
  font-size: 130%;
  color: #fff;
  text-decoration: none;
}

.search {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.searchInput {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  outline: none;
  background: #fff;
  border: none;
  font-family: "Inter", sans-serif;
}

.searchInput::placeholder {
  color: #000;
  opacity: 0.8;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 80%;
  margin-right: 20px;
}

.bar {
  width: 15px;
  height: 1px;
  background: #fff;
  content: "";
}

.DropDownNavContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11px;
  cursor: pointer;
}

.dropDownMenuWrapper {
  position: fixed;
  width: 100%;
  top: 65px;
  left: 0;
  padding: 0px 30px;
  transition: 0.5s;
  transform-origin: top;
}

.dropDownMenuContainer {
  max-width: 1400px;
  margin: auto;
  background: var(--dark-background);
  border-radius: 12px;
  padding: 10px;
}
