.movieContainer {
  border-radius: 12px;
  max-width: 200px;
  overflow: hidden;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  cursor: pointer;
  margin: 20px 0px;
  position: relative;
  min-width: 200px;
  background: #ffffff10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: #fff;
  font-weight: 200;
  text-align: center;
  font-size: 80%;
  text-decoration: none;
}

.image {
  transform: scale(1.05);
  transition: 0.3s all;
  width: 200px;
  min-height: 300px;
  max-height: 300px;
  opacity: 0.8;
}

.image:hover {
  opacity: 1;
  transform: scale(1);
}
.title {
  font-size: 150%;
  font-weight: 200;
  display: flex;
  align-items: center;
}

.title::before {
  margin-right: 5px;
  height: 35px;
  width: 4px;
  border-radius: 10px;
  content: "";
  display: block;
  background: var(--red);
}

.container {
  max-width: 1400px;
  margin: auto;
}

.wrapper {
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 50px;
}
