.container {
  padding-left: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  place-items: center;
}

.loaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: #fff;
  font-weight: 200;
  text-align: center;
  font-size: 80%;
  text-decoration: none;
}

.loader {
  position: relative;
  bottom: 50px;
}

.movieContainer {
  border-radius: 12px;
  max-width: 200px;
  overflow: hidden;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  cursor: pointer;
  position: relative;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff10;
}

.image {
  transform: scale(1.05);
  transition: 0.3s all;
  width: 200px;
  min-height: 300px;
  max-height: 300px;
  opacity: 0.8;
}

.image:hover {
  opacity: 1;
  transform: scale(1.01);
}