.title {
  font-size: 150%;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.title::before {
  margin-right: 5px;
  height: 35px;
  width: 4px;
  border-radius: 10px;
  content: "";
  display: block;
  background: var(--red);
}

.featuredReview {
  font-weight: 300;
  font-size: 80%;
  line-height: 1.5;
  max-width: 1000px;
}

.featuredReviewContainer {
  border-top: 1px solid #ffffff28;
  border-bottom: 1px solid #ffffff28;
  width: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
}

.featuredReviewHeader {
  text-transform: uppercase;
  width: fit-content;
  background: linear-gradient(90deg, var(--red), var(--light-red));
  padding: 5px 10px;
  font-size: 65%;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 10px;
}

.infoFlexContainer {
  display: flex;
  padding-bottom: 10px;
}

.author,
.submissionDate {
  margin-right: 15px;
  font-size: 70%;
  opacity: 0.8;
}

.authorRating {
  font-size: 70%;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.ratingSection {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.thumbContainer {
  display: flex;
  align-items: center;
}

.thumbContainer:first-of-type {
  margin-right: 15px;
}

.thumbContainer p {
  font-size: 75%;
  font-weight: 200;
}

.container {
  margin: auto;
  max-width: 1400px;
}

.wrapper {
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 15px;
    padding-bottom: 50px;
  }
  .title {
    font-size: 120%;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .title::before {
    margin-right: 5px;
    height: 28px;
    width: 4px;
    border-radius: 10px;
    content: "";
    display: block;
    background: var(--red);
  }
  .featuredReview {
    font-weight: 200;
    font-size: 80%;
  }
}
