* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #0b0b0e;
  --dark-background: #1b1b22;
  --gray: #ffffff9f;
  --red: #d31027;
  --light-red: #ea384d;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #fff;
  background: var(--background);
}

.swiper-button-prev,
.swiper-button-next {
  background: #494e5c;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  /* opacity: 0.8; */
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 70% !important;
  color: #fff;
}

.sub-header {
  font-size: 120%;
  font-weight: 200;
}

.small-title {
  font-weight: 200;
  font-size: 200%;
  margin-bottom: 10px;
}

.medium-description {
  font-weight: 200;
  font-size: 90%;
}

.react-read-more-read-less-more,
.react-read-more-read-less {
  color: #6287ff;
  transition: 0.2s;
}

.react-read-more-read-less:hover,
.react-read-more-read-less-more:hover {
  color: #8aa5ff;
}

@media only screen and (max-width: 500px) {
  .sub-header {
    font-size: 100%;
  }
  .small-title {
    font-size: 110%;
    font-weight: 300;
  }
  .medium-description {
    font-weight: 200;
    font-size: 80%;
  }
}
