.container {
  padding: 100px 30px;
  background: #101014;
  text-align: center;
}

.inputContainer {
  margin-top: 35px;
}

.textInput {
  background: #ffffff13;
  padding: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  width: 100%;
  max-width: 400px;
  font-family: "Inter", sans-serif;
  color: #ffffffdc;
  outline: none;
  font-size: 75%;
  font-weight: 200;
}

::placeholder {
  opacity: 1;
  font-family: "Inter", sans-serif;
  color: #ffffffdc;
}

.signUpBtn {
  font-size: 75%;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #ffffffdc;
  padding: 12px 30px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(to right, var(--red), var(--light-red));
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.signUpBtn:hover {
  opacity: 1;
}
