.searchWrapper {
  width: 50%;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  background: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 70%;
  font-weight: 400;
}

.searchInput::placeholder {
  color: #000;
  opacity: 0.8;
}

.resultsContainer {
  width: 100%;
  background: var(--dark-background);
  margin-top: 8px;
  border-radius: 5px;
  font-size: 70%;
  position: absolute;
  z-index: 9999;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.searchIconContainer {
  background: #fff;
  padding: 3px 10px;
  padding-right: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.resultContainer {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ffffff1c;
}

.resultContainer:hover {
  background: #ffffff1c;
  border-bottom: 1px solid transparent;
}

.resultContainer:last-of-type {
  border-bottom: none;
}

.resultHeader:first-of-type {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 110%;
}

.resultHeader {
  font-weight: 200;
  font-size: 90%;
}

.image {
  width: 50px;
  min-height: 71px;
  max-height: 71px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 10px;
}

.loaderContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
